.component-header {
  margin-bottom: var(--goa-space-l);
  margin-top: var(--goa-space-2xl);
}

.tag-chips {
  display: flex;
  gap: var(--goa-button-gap);
  flex-wrap: wrap;
}

@media screen and (max-width: 623px) {
    .component-header {
        margin-top: var(--goa-space-xl);
    }
}